<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
	<div class="container-fluid"> <a class="navbar-brand" href="#">Blog</a>
		<button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto mb-2 mb-lg-0">
				<li class="nav-item active"> <a class="nav-link" aria-current="page" href="#">Home</a> </li>
				<li class="nav-item"> <a class="nav-link" href="" target="_blank">Feeds</a></li>
				<li class="nav-item"> <a class="nav-link" href="#">Popular</a> </li>
				<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown1" data-flip="false" data-toggle="dropdown" aria-expanded="false">Tags</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown1">
						<li><a class="dropdown-item" href="" target="_blank">Action 1 -
                            Technology</a> </li>
						<li class="dropdown"> <a class="dropdown-item dropdown-toggle" href="#">Dropdown1.1</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action 1.1</a></li>
								<li class="dropdown"> <a class="dropdown-item dropdown-toggle" href="#">Dropdown1.1.1</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" target="_blank" href="http://www.google.com">Action 1.1.1 - Google</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown2" data-flip="false" data-toggle="dropdown" aria-expanded="false">Dropdown2</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown2">
						<li><a class="dropdown-item" href="#">Action 2 A</a></li>
						<li><a class="dropdown-item" href="#">Action 2 B</a></li>
						<li><a class="dropdown-item" href="#">Action 2 C</a></li>
						<li class="dropdown"> <a class="dropdown-item dropdown-toggle" href="#">Dropdown2.1</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action 2.1 A</a></li>
								<li><a class="dropdown-item" href="#">Action 2.1 B</a></li>
								<li><a class="dropdown-item" href="#">Action 2.1 C</a></li>
								<li class="dropdown"> <a class="dropdown-item dropdown-toggle" href="#">Dropdown2.1.1</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#">Action 2.1.1 A</a></li>
										<li><a class="dropdown-item" href="#">Action 2.1.1 B</a></li>
										<li><a class="dropdown-item" href="#">Action 2.1.1 C</a></li>
									</ul>
								</li>
								<li class="dropdown"> <a class="dropdown-item dropdown-toggle" href="#">Dropdown2.1.2</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="#">Action 2.1.2 A</a></li>
										<li><a class="dropdown-item" href="#">Action 2.1.2 B</a></li>
										<li><a class="dropdown-item" href="#">Action 2.1.2 C</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
<main class="container">
	<div class="align-items-center p-3 my-3 rounded shadow-sm text-center">
		<div class="lh-1">
			<h1 class="h1 mb-0 lh-1">Bootstrap NavBar</h1>
			<div class="mt-2">NavBar with too many childs.</div>
		</div>
	</div>
</main>